<template>
  <div class="charts-list">
    <chart-card v-for="chart in charts" :key="chart.id" :chart="chart"/>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import ChartCard from './ChartCard.vue';

export default {
  components: {
    ChartCard,
  },
  computed: {
    ...mapState(['charts']),
  },
};
</script>
