<template>
  <div :class="cardClass">
    <i class="el-icon-error" @click="deleteChart(chart)"></i>
    <el-card :body-style="{ padding: '0px' }" @click.native="setSelectedChart(chart)">
      <img :src="require(`../assets/charts/${chart.type}.svg`)"
        class="image"
        :alt="chart.type"
      />
      <div style="padding: 14px;">
          <span>{{chart.name}}</span>
      </div>
    </el-card>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';

export default {
  props: {
    chart: Object,
  },
  computed: {
    ...mapState(['selectedChart']),
    cardClass() {
      const classes = ['chart-card'];
      if (this.selectedChart && this.selectedChart.id === this.chart.id) {
        classes.push('active');
      }
      return classes.join(' ');
    },
  },
  methods: {
    ...mapMutations(['setSelectedChart', 'deleteChart']),
  },
};
</script>

<style lang="scss">
.chart-card {
  padding: 10px;
  position: relative;
    i{
      display: none;
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
    }
    &:hover{
      i{
        display: block;
      }
    }
  .el-card{
    cursor: pointer;
  }
  &.active {
    .el-card{
      border: 1px solid #409eff;
    }
  }
  .image {
    width: 100%;
    display: block;
  }
}
</style>
