<template>
  <el-form :model="form" :rules="rules" label-width="100px" label-position="left" ref="chartForm">
    <el-form-item label="Chart Name" prop="name">
      <el-input v-model="form.name"></el-input>
    </el-form-item>
    <el-form-item label="Algorithm" prop="algorithm">
      <el-select v-model="form.algorithm" value-key="id" placeholder="please select your algorithm">
        <el-option
          v-for="algorithm in algorithms"
          :label="algorithm.name"
          :value="algorithm"
          :key="algorithm.id"
        ></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="Param" prop="param" v-if="form.algorithm && form.algorithm.withParam">
      <el-input v-model.number="form.param"></el-input>
    </el-form-item>
    <el-form-item label="Chart Type" prop="type">
      <el-select v-model="form.type" placeholder="please select your chart type">
        <el-option
          v-for="chartType in chartTypes"
          :label="chartType.name"
          :value="chartType.type"
          :key="chartType.name"
        ></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="X Label" prop="xLabel">
      <el-input v-model="form.xLabel"></el-input>
    </el-form-item>
    <el-form-item label="Y Label" prop="yLabel">
      <el-input v-model="form.yLabel"></el-input>
    </el-form-item>
    <el-form-item label="Values">
      <el-col :span="12">X</el-col>
      <el-col :span="12">Y</el-col>
      <div class="inputs-wrapper">
        <el-row v-for="(value, index) in form.values" :key="index">
          <el-col :span="12">
            <el-form-item
              style="margin-bottom:20px"
              :prop="'values.' + index + '.x'"
              :rules="{ required: true, message: '  ', trigger: 'blur' }"
            >
              <el-input style="width: 90%;" v-model="value.x"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
              style="margin-bottom:20px"
              :prop="'values.' + index + '.y'"
              :rules="{ validator: checkNum, trigger: 'blur' }"
            >
              <el-input style="width: 90%;" v-model="value.y"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </div>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" icon="el-icon-plus" circle @click="addValues"></el-button>
      <el-button type="primary" icon="el-icon-minus" circle @click="removeValues"></el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  props: {
    formData: {
      type: Object,
      required: false,
    },
  },
  created() {
    if (this.formData) {
      this.form = JSON.parse(JSON.stringify(this.formData));
    }
  },
  data() {
    return {
      chartTypes: [
        {
          type: 'scatter',
          name: 'Scatter Chart',
        },
        {
          type: 'line',
          name: 'Linear Chart',
        },
      ],
      algorithms: [
        {
          id: 1,
          name: 'SMA',
          withParam: true,
          url: 'get_simple_moving_average',
          paramName: 'period',
        },
        {
          id: 2,
          name: 'EMA',
          withParam: true,
          url: 'get_exponential_moving_average',
          paramName: 'alpha',
        },
        {
          id: 3,
          name: 'Kalman',
          withParam: false,
          url: 'get_compute_kalman',
        },
      ],
      form: {
        name: '',
        type: '',
        xLabel: '',
        yLabel: '',
        algorithm: null,
        param: null,
        values: [
          {
            x: '',
            y: '',
          },
        ],
      },
      rules: {
        name: [{ required: true, message: 'Chart name is required', trigger: 'blur' }],
        algorithm: [{ required: true, message: 'Algorithm is required', trigger: 'select' }],
        param: [
          {
            required: true, message: 'Param is required', trigger: 'blur',
          },
          {
            type: 'number', message: 'Param should be type number',
          },
        ],
        type: [{ required: true, message: 'Chart type is required', trigger: 'select' }],
        xLabel: [{ required: true, message: 'Chart x label is required', trigger: 'blur' }],
        yLabel: [{ required: true, message: 'Chart y label is required', trigger: 'blur' }],
      },
    };
  },
  methods: {
    checkNum(rule, value, callback) {
      if (!value) {
        return callback(new Error(' '));
      }
      if (value.indexOf(',') !== -1) {
        return callback(new Error('Replace "," with "."'));
      }
      const inputVal = Number.parseFloat(value);
      if (Number.isNaN(inputVal) || typeof inputVal !== 'number') {
        return callback(new Error('Invalid type'));
      }

      return callback();
    },
    validateForm(formAction) {
      this.$refs.chartForm.validate((valid) => {
        if (valid) {
          formAction(this.form);
        }
        return false;
      });
    },
    addValues() {
      this.form.values.push({
        x: '',
        y: '',
      });
    },
    removeValues() {
      if (this.form.values.length > 1) {
        this.form.values.pop();
      }
    },
    resetFields() {
      this.$refs.chartForm.resetFields();
    },
  },
  watch: {
    formData(newVal) {
      if (newVal) {
        this.form = JSON.parse(JSON.stringify(newVal));
      }
    },
  },
};
</script>

<style>
.inputs-wrapper {
  max-height: 55vh;
  height: 100%;
  width: 100%;
  overflow: auto;
}
</style>
