<template>
  <div id="chart">
    <apexchart
      type="line"
      height="450"
      :options="chartOptions"
      :series="series"
    ></apexchart>
  </div>
</template>

<script>
import VueApexCharts from 'vue-apexcharts';
import { mapState } from 'vuex';

export default {
  components: {
    apexchart: VueApexCharts,
  },
  computed: {
    ...mapState(['selectedChart']),
    chartOptions() {
      return {
        chart: {
          height: 350,
          type: 'line',
        },
        fill: {
          type: 'solid',
        },
        stroke: {
          curve: 'smooth',
        },
        markers: {
          size: [6, 0],
        },
        tooltip: {
          shared: false,
          intersect: true,
        },
        xaxis: {
          title: {
            text: this.selectedChart.xLabel,
          },
        },
        yaxis: {
          title: {
            text: this.selectedChart.yLabel,
          },
        },
      };
    },
    series() {
      return [
        {
          name: 'source',
          type: this.selectedChart.type,
          data: this.mapValues(this.selectedChart.values, 'y'),
        },
        {
          name: 'smooth',
          type: 'line',
          data: this.mapValues(this.selectedChart.values, 'smooth'),
        },
      ];
    },
  },
  methods: {
    mapValues(valuesArr, key) {
      return valuesArr.map((values) => ({ x: values.x, y: values[key] }));
    },
  },
};
</script>
