<template>
  <div class="chart-component">
    <div class="buttons">
      <el-button
        type="primary"
        icon="el-icon-edit"
        @click="toggleIsEditDrawerShow(true)"
      ></el-button>
      <el-button
        type="danger"
        icon="el-icon-delete"
        @click="deleteChart(selectedChart)"
      ></el-button>
    </div>
    <div class="chart">
      <el-card>
        <chart :chart-data="selectedChart" />
        <!-- <candlestick-chart /> -->
      </el-card>
    </div>
    <div class="table">
      <Table :chart-data="selectedChart" />
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import Table from './Table.vue';
import Chart from './Chart.vue';

export default {
  components: {
    Chart,
    Table,
  },
  computed: {
    ...mapState(['selectedChart']),
  },
  methods: {
    ...mapMutations(['deleteChart', 'setChartToUpdate', 'toggleIsEditDrawerShow']),
  },
};
</script>

<style lang="scss">
.chart-component {
  .chart {
    margin-bottom: 10px;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
}
</style>
