<template>
  <el-drawer
    title="Create new chart"
    :visible="isCreateDrawerShow"
    @close="toggleIsCreateDrawerShow(false)"
    custom-class="demo-drawer"
    size="40%"
  >
    <div class="demo-drawer__content">
      <chart-form  ref="createChartForm" />
      <div class="demo-drawer__footer">
        <el-button type="primary" @click="submit" :loading="isLoading">{{
          createButtonText
        }}</el-button>
        <el-button @click="toggleIsCreateDrawerShow(false)">Cancel</el-button>
      </div>
    </div>
  </el-drawer>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import { v4 as uuidv4 } from 'uuid';
import ChartForm from './ChartForm.vue';

export default {
  components: {
    ChartForm,
  },
  data() {
    return {
      chartTypes: [
        {
          type: 'candlestick',
          name: 'Candlestick Chart',
        },
        {
          type: 'line',
          name: 'Linear Chart',
        },
        // {
        //   type: 'bar',
        //   name: 'Bar Chart',
        // },
      ],
      form: {
        name: '',
        type: '',
        xLabel: '',
        yLabel: '',
      },
      rules: {
        name: [{ required: true, message: 'Chart name is required', trigger: 'blur' }],
        type: [{ required: true, message: 'Chart type is required', trigger: 'select' }],
        xLabel: [{ required: true, message: 'Chart x label is required', trigger: 'blur' }],
        yLabel: [{ required: true, message: 'Chart y label is required', trigger: 'blur' }],
      },
    };
  },
  computed: {
    ...mapState(['isCreateDrawerShow', 'isLoading']),
    createButtonText() {
      return this.isLoading ? 'Loading...' : 'Create';
    },
  },
  methods: {
    ...mapMutations(['toggleIsCreateDrawerShow']),
    ...mapActions(['createChart']),
    submit() {
      this.$refs.createChartForm.validateForm((formData) => {
        this.createChart({ ...formData, id: uuidv4() }).then(() => {
          this.toggleIsCreateDrawerShow(false);
          this.$refs.createChartForm.resetFields();
        });
      });
    },
  },
};
</script>

<style lang="scss">
.demo-drawer__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 20px;
  form {
    flex: 1 1 0%;
  }
}

.demo-drawer__footer {
  display: flex;
  button {
    flex: 1 1 0%;
  }
}
</style>
