<template>
  <el-drawer
    title="Edit chart"
    :visible="isEditDrawerShow"
    @close="toggleIsEditDrawerShow(false)"
    custom-class="demo-drawer"
    size="40%"
  >
    <div class="demo-drawer__content">
      <chart-form :form-data="selectedChart" ref="updateChartForm" />
      <div class="demo-drawer__footer">
        <el-button type="primary" @click="submit" :loading="isLoading">{{
          createButtonText
        }}</el-button>
        <el-button @click="toggleIsEditDrawerShow(false)">Cancel</el-button>
      </div>
    </div>
  </el-drawer>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import ChartForm from './ChartForm.vue';

export default {
  components: {
    ChartForm,
  },
  computed: {
    ...mapState(['isEditDrawerShow', 'isLoading', 'selectedChart']),
    createButtonText() {
      return this.isLoading ? 'Loading...' : 'Update';
    },
  },
  methods: {
    ...mapMutations(['toggleIsEditDrawerShow']),
    ...mapActions(['updateChart']),
    submit() {
      this.$refs.updateChartForm.validateForm((formData) => {
        this.updateChart(formData).then(() => {
          this.toggleIsEditDrawerShow(false);
        });
      });
    },
  },
};
</script>

<style lang="scss">
.demo-drawer__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 20px;
  form {
    flex: 1 1 0%;
  }
}

.demo-drawer__footer {
  display: flex;
  button {
    flex: 1 1 0%;
  }
}
</style>
