<template>
  <el-container class="sidebar-aside">
    <el-header class="sidebar-header">
      <el-button type="text" @click="toggleIsCreateDrawerShow(true)">+ Add chart</el-button>
    </el-header>
    <div>
      <charts-list/>
    </div>
    <create-chart-drawer />
    <edit-chart-drawer />
  </el-container>
</template>
<script>
import { mapMutations } from 'vuex';
import ChartsList from './ChartsList.vue';
import CreateChartDrawer from './CreateChartDrawer.vue';
import EditChartDrawer from './EditChartDrawer.vue';

export default {
  components: {
    ChartsList,
    CreateChartDrawer,
    EditChartDrawer,
  },
  methods: {
    ...mapMutations(['toggleIsCreateDrawerShow']),
  },
};
</script>

<style lang="scss">
.sidebar-aside{
  position: relative;
}
.sidebar-header {
  position: sticky;
  left: 0;
  right: 0;
  top:0;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
</style>
