<template>
  <el-card>
    <el-table
      :data="chartData"
      style="width: 100%">
      <el-table-column
        prop="x"
        :label="selectedChart.xLabel"
        width="180">
      </el-table-column>
      <el-table-column
        prop="y"
        :label="selectedChart.yLabel"
        width="180">
      </el-table-column>
      <el-table-column
        prop="smooth"
        label="Smooth Value">
      </el-table-column>
    </el-table>
  </el-card>
</template>

<script>
import { mapState } from 'vuex';

export default {
  computed: {
    ...mapState(['selectedChart']),
    chartData() {
      return this.selectedChart.values;
    },
  },
};
</script>

<style>

</style>
