<template>
  <el-container>
    <el-header class="main-header">
      <h2>Smoothing Noisy Data Charts</h2>
    </el-header>
    <el-container>
      <el-aside width="20%">
        <sidebar />
      </el-aside>
      <el-main>
        <chart-component v-if="selectedChart" :selected-chart="selectedChart"/>
        <div class="title" v-else>
          <h1>Select or create new chart</h1>
        </div>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import { mapState } from 'vuex';
import ChartComponent from './components/ChartComponent.vue';
import Sidebar from './components/Sidebar.vue';

export default {
  components: { Sidebar, ChartComponent },
  computed: {
    ...mapState(['selectedChart']),
  },
};
</script>

<style lang="scss">
body {
  padding: 0;
  margin:0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "微软雅黑", Arial, sans-serif;
}

.main-header {
    background-color: #409eff;
    color: white;
}

.el-aside {
    border-right: 1px solid lightgrey;
    height: calc(100vh - 60px);
}

.el-main {
  .title{
    text-align: center;
  }
}
</style>
